<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>817295780155-4v48lclka2gtgf95tk373jpq9h9bsenq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.817295780155-4v48lclka2gtgf95tk373jpq9h9bsenq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>817295780155-t6sg1c4ct9fft2diucob57r0rludoku2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDO23kwT2mw88WqawedtYe3YTuEK33u9QM</string>
	<key>GCM_SENDER_ID</key>
	<string>817295780155</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.losthut.apps.simplemeditationtimer</string>
	<key>PROJECT_ID</key>
	<string>vpas-29d15</string>
	<key>STORAGE_BUCKET</key>
	<string>vpas-29d15.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:817295780155:ios:13a39c49ad59bbb05a6f1e</string>
</dict>
</plist>